<head>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
</head>

<header class="navbar_header">
  <nav class="navbar_features">
    <a href="/" class="page_title">Learners</a>
    <div class="login_register">
      <form class="input_form" method="POST" action="/">
        <input class="login_textbox" placeholder="Email"></input>
        <input class="login_textbox" placeholder="Password"></input>
      </form>
      <form class="button_form" method="GET" action="/registration">
        <button type="submit" class="nav_buttons">Login</button>
        <button type="submit" class="nav_buttons">Register</button>
      </form>
    </div>
  </nav>
</header>
