<head>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
</head>

<header class="navbar_header">
  <nav class="navbar_features">
    <a href="/" class="page_title">Learners</a>
    <div class="login_register">
      <form method="POST" action="/users/">
        <input class="login_textbox" placeholder="Email" name ="email"></input>
        <input class="login_textbox" placeholder="Password" type = "password" name="password"></input>
        <button type="submit" class="nav_buttons">Login</button>
      </form>
      <form method="GET" action="/register">
        <button type="submit" class="nav_buttons">Register</button>
      </form>
    </div>
  </nav>
</header>
