<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>profile</title>
</head>
<body>
  <h1>User has been signed in</h1>
  <form method="POST" action="/users/:user.username">
    <input type="text" name= "text">
    <input type="password" name="password">
    <button type ="submit">ENTER ME</button>
  </form>
</body>
</html>
