<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>profile</title>
</head>
<body>
   <!-- <%= JSON.stringify(resources)%> -->
  <h1>User has been signed in</h1>

  <div>
    <% for (let resource of resources) { %>
    <div>
      <p>title: <%= resource.title %></p>
      <p>description: <%= resource.description %></p>
      <p>category: <%= resource.category %></p>
      <p>created: </p>
      <% } %>
    </div>
  </div>
</body>
</html>
