// See: https://sass-lang.com/

body {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to left, #6BD1AA, #58D0BE, #50CDCF, #57CADC, #69C5E4, #70C5E8, #77C5EB, #7EC5EE, #77CAF2, #70CFF6, #68D4F9, #5FD9FB);
}

// Navbar
header.navbar_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  height: 5em;
  padding-left: 2em;
  font-size: x-large;
  nav.navbar_features {
    display: flex;
    justify-content: space-between;
    a.page_title {
      color: black;
      text-decoration: none;
      font-family: 'Quicksand', sans-serif;
      margin-right: 2em;
    }
    div.login_register {
      display: flex;
      input.login_textbox{
        color: black;
        font-family: 'Quicksand', sans-serif;
        background-color: lavenderblush;
      }
      button.nav_buttons {
        margin-left: 1em;
        background-color: white;
        color: black;
        font-family: 'Quicksand', sans-serif;

      }
    }
  }
}

// Homepage
section.search_box {
  background-color: white;
  display: flex;
  margin-right: 5em;
  margin-left: 5em;
  margin-top: 5em;
  align-items: center;
  flex-direction: column;
  height: 50%;
  label {
    color: black;
    font-family: 'Montserrat', cursive;
    font-size: xx-large;
    margin-top: 2em;
    margin-bottom: 1em;
  }
  input {
    margin-top: 1em;
    margin-bottom: 2em;
    width: 70%;
    height: 2em;
    background-color: lavenderblush;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
  }
  div.search_anchors{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  a.search_anchors{
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    color: black;
    text-decoration: none;
    margin: 1em;
    margin-bottom: 2em;
  }
}
