body{
  background-image: linear-gradient(to left, #6BD1AA, #58D0BE, #50CDCF, #57CADC, #69C5E4, #70C5E8, #77C5EB, #7EC5EE, #77CAF2, #70CFF6
  , #68D4F9, #5FD9FB);
  .profileHeader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    .user {
      justify-content: center;
      align-items: center;
      display: flex;
      text-align: center;
      .imageWrapper {
        img {
          width: 200px;
          height: 200px;
        }
      }
    }
    .welcome {
      margin-left: 30px;

      h5{
        font-size: 50px;
      }

    }
  }
}






.tabs {
    margin-top: 30px;
    text-align: center;
}
.tabs span {
    margin:50px;
}

.gallery {
    margin: 0 30px;
}

.resource {
    margin-bottom: 10px;
    border: 5px solid black;
    border-radius: 3px;
}



