
body {
    background-image: linear-gradient(to left, #6bd1aa, #58d0be, #50cdcf, #57cadc, #69c5e4, #70c5e8, #77c5eb, #7ec5ee, #77caf2, #70cff6, #68d4f9, #5fd9fb);
  .main {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    width: 50%;
    display: flex;
    justify-content: center;
    .signup {
      width: 75%;
      display: flex;
      justify-content: center;
      form {
        flex-grow: 1;
        margin-top: 50px;
        text-align: center;
        h2 {
          color:white;
          font-weight: bold;
          text-shadow: 2px 2px  black;
          font-size: 40px;
          font-family: 'Montserrat', sans-serif;
          margin-bottom: 40px;
          text-transform: uppercase;
        }
        .form-group {
          overflow: hidden;
          margin-bottom: 20px;
          .form-control {
            padding: 20px;
            text-align: center;
          }
          .form-submit {
            padding: 10px;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
            margin-top: 20px;
            margin-bottom: 40px;
            color: black;
            text-transform: uppercase;
            width: 100%;
            border: none;
           background: white;
          }
          .form-submit:hover{
            background-image: linear-gradient(to left, #6bd1aa, #58d0be, #50cdcf, #57cadc, #69c5e4, #70c5e8, #77c5eb, #7ec5ee, #77caf2, #70cff6, #68d4f9, #5fd9fb);
          }
        }
      }
    }
  }
}
