
body {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vw;
    background-image: linear-gradient(to left, #6bd1aa, #58d0be, #50cdcf, #57cadc, #69c5e4, #70c5e8, #77c5eb, #7ec5ee, #77caf2, #70cff6, #68d4f9, #5fd9fb);
    
}
.signup {
    width: 75%;
}

form h2 {
    font-weight: 700;
    color: black;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.main {
    background-color: white;
    border-radius: 5px;
    margin: 50px 0;
    width: 50%;
    display: flex;
    justify-content: center;
}
form {
    flex-grow: 1;
    margin-top: 80px;
}

.form-group {
    overflow: hidden;
    margin-bottom: 20px;
}

.form-control {
    padding: 20px;

}
.signup {
    display: flex;
    justify-content: center;
}

.form-submit {
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    color: white;
    text-transform: uppercase;
    width: 100%;
    background-image: linear-gradient(to left, #6bd1aa, #58d0be, #50cdcf, #57cadc, #69c5e4, #70c5e8, #77c5eb, #7ec5ee, #77caf2, #70cff6, #68d4f9, #5fd9fb);
}

