body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to left, #6BD1AA, #58D0BE, #50CDCF, #57CADC, #69C5E4, #70C5E8, #77C5EB, #7EC5EE, #77CAF2, #70CFF6, #68D4F9, #5FD9FB);
}

section.resource_info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2.resource_info_title{
    align-self: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 2em;
  }

  div.rating_icon {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;

    span.rating_resource_info {
      font-family: 'Montserrat', sans-serif;
      margin-left: .3em;
      margin-top: .1em;
    }

    i.material-icons {
      margin-right: .3em;
    }
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img.clickable_image {
      width: 70%;
      align-self: center;
      border-radius: 5px;
      margin: 2em;
      border: solid;
      border-color: black;
    }
  }

  span.resource_info_description {
    align-self: center;
    width: 60%;
    font-family: 'Montserrat', sans-serif;
  }
}

div.comment_sections{
  display: flex;
  flex-direction: column;

  section.resource_info_comments {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;

    article.comment {
      display: flex;
      align-self: center;
      width: 60%;
      margin: 2em;

      h2.comments_label {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 0;
      }

      i.material-icons {
        margin-top: 1em;
      }

      .profile_username {
        color: grey;
        margin-bottom: 2em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
      }
      .profile_comment {
        margin-bottom: 2em;
        font-family: 'Montserrat', sans-serif;
      }
    }
  }
  section.resource_info_write_comment {
    display: flex;
    justify-content: center;

    form {
      display: flex;
      flex-direction: column;
      width: 60%;
      h2.add_comment{
        font-family: 'Montserrat', sans-serif;
        margin-top: 0;
      }
      div.textarea_button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 3em;
        textarea{
          width: 90%;
          margin-right: 1em;
          border-radius: 5px;
          background-color: lavenderblush;
        }
        button {
          border-radius: 5px;
          font-family: 'Montserrat', sans-serif;
          padding: 1em;
          color: black;
          border-color: black;
        }
      }
    }
  }
}
